.row {
    height: 30px;
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.col {
    flex: 1;
    color: #ffffff;
    background-color: #609c9e;
    padding: 20px;
    margin: 10px;
}

.col-2 {
    flex: 2;
    color: #ffffff;
    background-color: #609c9e;
    padding: 20px;
    margin: 10px;
}

.col-3 {
    flex: 3;
    color: #ffffff;
    background-color: #609c9e;
    padding: 20px;
    margin: 10px;
}